<div class="cotainer">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card w-50">
                <div class="card-header d-flex justify-content-center">
                    <img [src]="personDetails.image" width="300" height="70" class=" img-fluid" alt="">
                </div>
                <div class="card-body">
                    <p class="card-text">{{personDetails.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>